{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda" style="background-color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/agenda/novo" style="color: #599a80;">Novo Agendamento <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <div class="container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-8">
                        {% if dia == "Mon" %}
                            <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/seg.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/ter.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qua.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qui.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/sex.png' %}" /></button>
                        {% elif dia == "Tue" %}
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/seg.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/ter.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qua.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qui.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/sex.png' %}" /></button>
                        {% elif dia == "Wed" %}
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/seg.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/ter.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/qua.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qui.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/sex.png' %}" /></button>
                        {% elif dia == "Thu" %}
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/seg.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/ter.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qua.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/qui.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/sex.png' %}" /></button>
                        {% elif dia == "Fri" %}
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/seg.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/ter.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qua.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qui.png' %}" /></button>
                            <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/sex.png' %}" /></button>
                        {% endif %}
                        <br><label class="ml-auto" style="font-size: 20px; color:#1e9968; text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);">{{prof.nome}}&nbsp;&nbsp;--&nbsp;&nbsp;</label>
                        <label class="ml-auto" style="font-size: 20px; color:#1e9968; text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);">{{hoje}}</label>
                        </div>
                        <div class="form-group col-md-4">
                        <input type="date" name="data_busca" class="ml-auto"><br>
                        <select name="profissional" class="ml-auto" >
                            <option disabled selected> -- Professores -- </option>
                            {% for professor in professores %}
                                <option value="{{professor.id}}">{{professor.nome}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;">Buscar</button>
                        </div>
                    </div>
                    </form>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Horario</th>
                          <th scope="col">Aluno(a)</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for agendamento in agendas %}
                                <tr>
                                    <form method="GET" action="/agenda/editar">
                                    <input type="hidden" name="agenda_id" value="{{agendamento.id}}">
                                    <td>{{agendamento.data|date:"H:i"}}</td>
                                    <td>{{agendamento.aluno}}</td>
                                    <td><button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;">Editar</button></td>
                                    </form>
                                </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
        {% endblock %}