{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/agenda" style="color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda/novo" style="background-color: #599a80;">Novo Agendamento <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo" >
    <section class="row text-center placeholders">
        <div class="jumbotron col-md-8" >
            <h1>Novo Agendamento</h1>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="pac_id" value="{{pac.id}}">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName">Paciente <strong>*</strong></label><br>
                        <input type="text" class="form-control" value="{{pac.nome}}" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail">Prof.</label><br />
                        <select name="profissional" class="form-control" required>
                            <option value="{{pac.prof1.id}}" selected>{{pac.prof1.nome}}</option>
                            {% for professor in professores %}
                            <option value="{{professor.id}}">{{professor.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br />
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary float-right" style="background-color: #599a80;">Agendar</button>
                </div>
            </form>
        </div>
    </section>
</main>
        {% endblock %}