{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/agenda" style="color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda/novo" style="background-color: #599a80;">Novo Agendamento <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
            <section class="row text-center placeholders">
                <div class="jumbotron busca">
                        <div class="container">
                            <form method="GET">
                                <button type="submit" formaction="/agenda/11" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/11.png' %}" /></button>
                                <button type="submit" formaction="/agenda/12" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/12.png' %}" /></button>
                                <button type="submit" formaction="/agenda/13" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/13.png' %}" /></button><br>
                                <button type="submit" formaction="/agenda/21" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/21.png' %}" /></button>
                                <button type="submit" formaction="/agenda/22" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/22.png' %}" /></button>
                                <button type="submit" formaction="/agenda/23" class="btn btn-primary ml-auto" style="background-color: transparent; border-color: transparent;"><img src="{% static '/img/23.png' %}" /></button>
                            </form>
                        </div>
                    </div>
                </section>
            </main>
        {% endblock %}