{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/agenda" style="color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda/novo" style="background-color: #599a80;">Novo Agendamento <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo" >
    <section class="row text-center placeholders">
        <div class="jumbotron col-md-8" >
            <h1>Novo Agendamento</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputName">Paciente <strong>*</strong></label><br>
                        <select name="pac" class="form-control" >
                            <option disabled selected> -- Pacientes -- </option>
                            {% for paciente in pacientes %}
                                <option value="{{paciente.id}}">{{paciente.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary float-right" style="background-color: #599a80;">Salvar</button>
            </form>
        </div>
    </section>
</main>
        {% endblock %}