{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/agenda" style="color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda/novo" style="background-color: #599a80;">Novo Agendamento <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo" >
    <section class="row text-center placeholders">
        <div class="jumbotron " >
            <h1>Novo Agendamento</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputName">Paciente <strong>*</strong></label><br>
                        <select name="pac" class="" >
                            <option disabled selected> -- Pacientes -- </option>
                            {% for paciente in pacientes %}
                                <option value="{{paciente.id}}">{{paciente.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputName">Profissional <strong>*</strong></label><br>
                        <select name="pro" class="ml-auto" >
                            <option disabled selected> -- Profissionais -- </option>
                            {% for professor in profissionais %}
                                <option value="{{professor.id}}">{{professor.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputEmail">Dia da Sem.</label><br>
                        <select name="dia_sem" class="ml-auto" >
                            <option disabled selected> -- Dias -- </option>
                            <option value="seg">Segunda</option>
                            <option value="seg">Terca</option>
                            <option value="seg">Quarta</option>
                            <option value="seg">Quinta</option>
                            <option value="seg">Sexta</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputName">Horario <strong>*</strong></label><br>
                        <select name="hora" class="ml-auto" >
                            <option disabled selected> -- Horarios -- </option>
                            <option value="1">07:00</option>
                            <option value="1">08:00</option>
                            <option value="1">09:00</option>
                            <option value="1">10:00</option>
                            <option value="1">11:00</option>
                            <option value="1">15:00</option>
                            <option value="1">16:00</option>
                            <option value="1">17:00</option>
                            <option value="1">18:00</option>
                            <option value="1">19:00</option>
                            <option value="1">20:00</option>
                        </select>
                    </div>
                <br />
                <button type="submit" class="btn btn-primary float-right" style="background-color: #599a80;">Salvar</button>
            </form>
        </div>
    </section>
</main>
        {% endblock %}