
{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/paciente" style="color: #599a80;">Paciente <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/paciente/novo" style="color: #599a80;">Novo Paciente <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/paciente/buscar" style="background-color: #599a80;">Buscar Paciente <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <form method="POST">
                    {%csrf_token%}
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="inputServico">Pacientes</label>
                            <select name="pac_id" class="form-control" required>
                                <option disabled selected > -- Pacientes -- </option>
                                {% for paciente in pacs %}
                                <option value="{{paciente.id}}">{{paciente.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <button type="submit" class="btn btn-primary float-right" style="background-color: #599a80;">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}