{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/agenda" style="background-color: #599a80;">Agenda <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/plano" style="color: #599a80;">Editar <span class="sr-only">(current)</span></a>
                </li>
                
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <div class="container">
                    <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/seg.png' %}" /></button>
                    <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/ter.png' %}" /></button>
                    <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qua.png' %}" /></button>
                    <button type="submit" class="btn btn-primary" style="background-color: #599a80; border-color: #599a80;"><img src="{% static '/img/qui.png' %}" /></button>
                    <button type="submit" class="btn btn-primary" style="background-color: #2c604b; border-color: #2c604b;"><img src="{% static '/img/sex.png' %}" /></button>
                    <label class="ml-auto float-right" style="font-size: 30px; color:#1e9968; text-shadow: 3px 1px 4px rgba(150, 150, 150, 1);">{{hoje}}</label><br />
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
        {% endblock %}